<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <a href="nuevo" class="btn btn-warning">Agregar Nuevo</a>
    <a href="searchByCategory" class="btn btn-warning">Buscar por categoria </a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>TELÉFONO</th>
            <th>CATEGORÍA</th>
            <th>SALARIO</th>
            <th>ACCIÓN</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empleado:${empleado}">

            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.fullName}"></td>
            <td th:text="${empleado.phone}"></td>
            <td th:text="${empleado.categoria.getValue()}"></td>
            <td th:text="${empleado.categoria.getSalario()}"></td>
            <td>
                <a th:href="@{|/editar/ ${empleado.id}}" class="btn btn-warning">Editar</a>
                <a th:onclick="eliminar([[${empleado.id}]])" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/funciones.js"></script>
        </tbody>
    </table>
</div>
</body>
</html>
